
<div class="container-fluid" >

    <div class="col-md-8 col-md-offset-2">

        <!-- CHAT -->
        <!-- FORM TITLE -->
        <div class="page-header">
            <h2 class="text-center"><span class="glyphicon glyphicon-globe"></span> Chat</h2>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Général</div>
            <div class="panel-body">
            </div>

            <!-- List group. Contains all messages -->
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="message in main.messages track by $index"  style="height: 40px">
                    {{ message.content|words:15 }}
                    <small class="pull-right">De <strong>{{ message.userName|titlecase }}</strong> à {{ message.date|ago }}</small>
                </li>
            </ul>

        </div>

        <form ng-submit="main.send()">
            <div class="form-group">
                <textarea class="form-control" name="message" ng-model="main.message" placeholder="Tapez ici..."></textarea>
                <br>
                <button  type="submit" class="btn btn-success pull-right"><span class="fa fa-pencil"></span> Ecrire</button>
            </div>
        </form>

    </div>
</div>



















<!--<form action="http://caty.herokuapp.com/signup" method="post" enctype="application/x-www-form-urlencoded">-->
<!--<input type="text" name="username" placeholder="Entrez votre nom d'utilisateur">-->
<!--<input type="password" name="password" placeholder="Votre mot de passe">-->
<!--<input type="password" name="password2" placeholder="Confirmer">-->
<!--<input type="submit" name="submit" value="Valider">-->
<!--</form>-->











<!--<ul class="pages">-->
<!--<li class="chat page">-->
<!--<div class="chatArea">-->
<!--<ul class="messages"></ul>-->
<!--</div>-->
<!--<form ng-submit="sendMessage()" enctype="application/x-www-form-urlencoded">-->
<!--<input class="inputMessage" ng-model="message" type="text" name="message" placeholder="Saisissez votre message ici">-->
<!--<input type="submit">-->
<!--</form>-->
<!--<input class="inputMessage" placeholder="Type here..."/>-->
<!--</li>-->
<!--<li class="login page">-->
<!--<div class="form">-->
<!--<h3 class="title">Inscrivez-vous</h3>-->
<!--<form action="http://caty.herokuapp.com/signup" method="post"  enctype="application/x-www-form-urlencoded">-->
<!--<input type="text" name="username" placeholder="Entrez votre nom d'utilisateur">-->
<!--<input type="password" name="password" placeholder="Votre mot de passe">-->
<!--<input type="password" name="password2" placeholder="Confirmer">-->
<!--<input type="submit" name="submit" value="Valider">-->
<!--</form>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->


